fastapi
uvicorn
httpx
sqlalchemy>=2.0
asyncpg
python-dotenv
pillow
ollama
python-multipart
pydantic
psycopg2-binary
pgvector
google-generativeai
sentence-transformers
greenlet
langchain-community
langchain-core
scikit-learn
pandas
tensorflow
numpy
statsmodels
google-genai>=1.0.0
apscheduler
supabase
xgboost
langchain-google-genai
langchain-postgres
pypdf
ruff
timesfm
jax
torch
transformers
